<div class='container1'>
<h1>Welcome to Shmidtly!</h1>
<form action='/url' method='post'>
    <p>
      Please enter a Url:<br>
    <input type='text' id='url' name='url' placeholder='URL!' autofocus='autofocus'>
    <input type='submit' value='Submit!' name='submit'> 
    </p>
 </form>
</div>
